@import '../../../../sass/variables';

#app-nav {
  background: $mediumColor;
}

.nav_container {
  color: $textOnDark;
}

#nav_container--menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#nav_container--menu li {
  display: inline-block;
  padding: 10px 12px;
}

#nav_container--menu a:hover {
  background: $menuHighlight;
}

#nav_container--menu a {
  color: inherit;
  text-decoration: inherit;
}
