<div id='profile-edit-body'>
  <div class="profile-edit_container wrapper">
    <div class="profile-edit_container--header">
      <h2>Edit My Profile</h2>
      <div class="buttonContainer">
        <a routerLink=""><button id="saveButton">Save</button></a>
        <a routerLink=""><button id="cancelButton">Cancel</button></a>
      </div>
    </div>

    <div class="profile-edit_container--info">
      <div>
        <p><strong>First Name:</strong></p>
        <input type="text" value="{{ profile.firstName }}">
      </div>

      <div>
        <p><strong>Last Name:</strong></p>
        <input type="text" value="{{ profile.lastName }}">
      </div>

      <div>
        <p><strong>Avatar Image Url:</strong></p>
        <input type="text" value="http://localhost:4200/assets/{{ profile.image }}">
      </div>

      <div>
        <p><strong>Average Number of Hours to Game Per Day:</strong></p>
        <input type="text" value="{{ profile.averageNumberOfHoursPerDay }}">
      </div>

    </div>
  </div>
</div>
