@import '../../../../../sass/variables';

.profile_container--info {
  padding: 12px;
  background: $mediumColor;
  color: $textOnDark;
  border-radius: 0.4rem;
  margin-top: 12px;
  font-size: 0.8rem;
}

.profile_container--info a {
  color: inherit;
  text-decoration: inherit;
}

.profile_container--info div:not(:last-child) {
  margin-bottom: 12px;
}
