@import '../../../sass/variables';

.dashboard_container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  background: $mediumColor;
  color: $textOnDark;
  border-radius: 0.4rem;
}

.dashboard_container--header h2 {
  font-size: 1rem;
}

.dashboard_container--info h3 {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.dashboard_container--info {
  padding: 12px;
  background: $mediumColor;
  color: $textOnDark;
  border-radius: 0.4rem;
  margin-top: 12px;
  font-size: 0.8rem;
}

.dashboard_container--info div:not(:last-child) {
  margin-bottom: 12px;
}

.fullPercentageBar--red {
  width: 100%;
  height: 24px;
  background: rgb(219, 130, 130)
}

.fullPercentageBar--green {
  width: 100%;
  height: 24px;
  background: rgb(133, 201, 133)
}

.progressPercentageBar--red {
  height: 24px;
  background: rgb(184, 40, 40)
}

.progressPercentageBar--green {
height: 24px;
background: rgb(50, 165, 50)
}

.percentageBar_container p {
  margin-bottom: 6px;
}
