@import '../../../../sass/variables';

h1 {
  color: $textOnDark;
}

#app-header {
  background: $darkColor;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile_container {
  display: flex;
  color: $textOnDark;
  width: 20%;
  align-items: center;
  white-space: nowrap;
  justify-content: flex-end;
}

#profile_container img {
  width: 60px;
  height: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

#profile_container a {
  color: inherit;
  text-decoration: inherit;
}
