@import '../../../../../sass/variables';

.games_container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  background: $mediumColor;
  color: $textOnDark;
  border-radius: 0.4rem;
}

.games_container--header h2 {
  font-size: 1rem;
}

.games_container--header button {
  padding: 6px 46px;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: none;
  background: $lightColor;
  color: $textOnWhite;
  cursor: pointer;
}

.games_container--info {
  color: $textOnDark;
  border-radius: 0.4rem;
  margin-top: 12px;
  font-size: 0.8rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 14px;
  grid-auto-rows: auto;
}

.no_games {
  font-size: 1rem;
  padding: 6px 12px;
}
